extends ../layout

prepend content
    section
        article
            div.createbox
                if errors
                    - errors.forEach(function(error){
                        p.text-danger #{error.message}
                    - });
                form(action="/security/login", method="POST")
                    div.form-group
                        label(for="email")
                        input.form-control(type="email", name="email", id="email", placeholder="Email", value=email)
                    div.form-group
                        label(for="password")
                        input.form-control(type="password", name="password", id="password", placeholder="Password")
                    
                    button.btn.btn-primary Login