div.row
    div.col-md-6 
        h1 
            a(href='/') THE SKATEBOARD POLL
        nav.menu
            ul
                li
                    a(href='/') LATEST
                li
                    a(href='/up') TOP
                li
                    a(href='/down') WORST
    div.col-md-6 
        .text-right
            a(href='/api/c')  SUBMIT

